/* typography */

.planet-container h3 {
  color: var(--clr-primary-100);
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-primary-100);
}

/* layout */

.planet-container {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-inline: auto;
  width: min(100%, 70rem);
  border-radius: 10px;
  text-align: center;
}
.planet-container article article {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 960px) {
  .planet-container {
    margin-inline: auto;
    width: min(70%, 70rem);
    align-items: flex-start;
  }
}

.planet-split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 960px) {
  .planet-split {
    flex-direction: row;
  }
  .planet-split > * {
    flex-basis: 100%;
  }
}

.inline-block {
  display: inline-block;
}

.planet-description {
  display: flex;
}

/* backgrounds */
.main-background {
  background-color: #112238f6;
}

/* general */
.border {
  border: 1px solid var(--clr-primary-200);
}

.padding-places {
  padding: 1rem;
}

@media screen and (min-width: 420px) {
  .padding-places {
    padding: 2rem;
  }
}

.padding {
  padding: 2rem;
}
