/* typography */

.planet-container h3 {
  color: var(--clr-primary-100);
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-primary-100);
}

/* layout */

.planet-container {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-inline: auto;
  width: min(100%, 70rem);
  text-align: center;
}
.planet-container article article {
  text-align: center;
}

@media screen and (min-width: 960px) {
  .planet-container {
    margin-inline: auto;
    width: min(70%, 70rem);
    align-items: flex-start;
    border-radius: 10px;
  }
}

.planet-split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 960px) {
  .planet-split {
    flex-direction: row;
  }
  .planet-split > * {
    flex-basis: 100%;
  }
}

.planet-description {
  padding: 1rem !important;
  margin-bottom: 0 !important;
}

.inline-block {
  display: inline-block;
}

.planet-description {
  display: flex;
}

/* backgrounds */
.main-background {
  background-color: #112238f6;
}

/* general */
.border {
  border-bottom: 1px solid var(--clr-primary-200);
}
@media screen and (min-width: 960px) {
  .border {
    border: 1px solid var(--clr-primary-200);
  }
}

.padding-places {
  padding: 1rem;
}

@media screen and (min-width: 420px) {
  .padding-places {
    padding: 2rem;
  }
}

.padding {
  padding: 1rem;
}

.logo img {
  display: block;
  width: 70% !important;
}

@media screen and (min-width: 420px) {
  .logo img {
    display: block;
    width: 40% !important;
  }
}

/* image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
  width: 50%;
}

.image .padding-inline-1 {
  padding-inline: 1rem;
}

.image.fit {
  margin: 1rem;
}

.image.main {
  margin: 2rem 0;
  display: block;
  width: 80%;
}

@media screen and (min-width: 420px) {
  .image.fit {
    display: block;
    margin: 2rem 0;
    width: 100%;
  }
  .image.main {
    margin: 2.5rem 0;
    display: block;
    width: 80%;
  }
  .image img {
    display: block;
    width: 80%;
  }
}

.image.main:first-child {
  margin-top: 0;
}

a.image {
  overflow: hidden;
}
