/* typography */
#sentenceTest {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-bottom: 2rem;
}

#sentenceTest input {
  max-width: 50px !important;
  background-color: transparent;
  color: #ffff;
  border: none;
  border-bottom: 1px solid #ffff;
}
.win {
  color: greenyellow;
}
.lose {
  color: red;
}

.modal-description {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.display-block {
  display: block;
}

/* button */

#sentenceTest button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
  margin-top: 1rem;
}

#sentenceTest button:hover {
  border: none;
}
