#bar {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 2rem;
}

#bar ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#bar ul li {
  border-left: 0;
  margin: 1rem 0 0 0;
  padding-left: 0;
  display: block;
  list-style: none;
}

#bar form {
  padding: 1rem;
}

/* layout */

#bar .split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  #bar .split {
    flex-direction: row;
  }
  #bar .split > * {
    flex-basis: 100%;
  }
}

/* button */

#bar button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
}

#bar button:hover {
  border: none;
}
