/* typography */

#bar h3 {
  font-size: 1rem;
}

#bar p {
  font-size: 1rem;
}

.bar-container h3 {
  color: var(--clr-primary-100);
}

#bar {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  letter-spacing: 0.05rem;
  text-align: center;
}

#bar ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#bar ul li {
  border-left: 0;
  margin: 1rem 0 0 0;
  padding-left: 0;
  display: block;
  list-style: none;
}

/* layout */

#bar {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  display: grid;
  flex: auto;
}

.bar-content-container {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: min(100%, 70rem);
  padding-bottom: auto;
  text-align: center;
}

.bar-container {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-bottom: auto;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.bar-container article article {
  text-align: center;
}

@media screen and (min-width: 960px) {
  .bar-container {
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    width: min(90%, 70rem);
  }
}

#bar form input {
  margin: 1rem;
}

#bar h3 {
  margin: 1rem;
}

.padding-bottom-inherit {
  padding-bottom: inherit;
}

#bar {
  align-content: center;
  justify-content: center;
  display: grid;
  flex: auto;
}

#bar .bar-form {
  align-content: center;
  justify-content: center;
  display: grid;
}

#bar .split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  #bar .split {
    flex-direction: row;
  }
  #bar .split > * {
    flex-basis: 100%;
  }
}

/* buttons */

/* #bar button {
  font-family: var(--ff-primary);
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: transparent;
  padding-inline: 1rem;
  text-transform: uppercase;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--clr-neutral-100);
}
#bar button:hover {
  border: none;
  text-decoration: none;
  color: rgb(1, 9, 27) !important;
  background-color: yellow !important;
}

#bar button a {
  text-decoration: none;
  display: block;
}

.button {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 1.5rem;
  font-size: 0.6rem;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid var(--clr-neutral-100);
  margin: 0.5rem;
}

.button.small {
  font-size: 0.5rem;
  height: 1.6rem;
  line-height: 1.5rem;
  padding: 0 0.4rem;
}

.button.large {
  font-size: 0.6rem;
  height: 1.8rem;
  line-height: 1.5rem;
  padding: 0 0.8rem;
}

.button:hover {
  border: none;
}
.button a {
  display: block;
}
a {
  display: block;
} */

/* background */
@media screen and (min-width: 1281px) {
  .no-webp .bar-wrapper {
    background: url(/src/images/planet-images/1920/tunnel.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .bar-wrapper {
    background: url(/src/images/planet-images/1920/tunnel.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 1280px) {
  .no-webp .bar-wrapper {
    background: url(/src/images/planet-images/1280/tunnel.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .bar-wrapper {
    background: url(/src/images/planet-images/1280/tunnel.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .no-webp .bar-wrapper {
    background: url(/src/images/planet-images/960/tunnel.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .bar-wrapper {
    background: url(/src/images/planet-images/960/tunnel.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}
