#casino {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-100);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 2rem;
}

#casino form {
  padding: 1rem;
}

/* .casino-background {
  background-color: rgba(255, 0, 0, 0.363);
} */

/* layout */

#casino .split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  #casino .split {
    flex-direction: row;
  }
  #casino .split > * {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 420px) {
  .logo-place img {
    width: 40% !important;
  }
}
