#main {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 2rem;
}

/* button */

#main button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
}

#main button:hover {
  border: none;
}
