/* typography */
#factory {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#factory ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#factory ul li {
  border-left: 0;
  margin: 1rem 0 0 0;
  padding-left: 0;
  display: block;
  list-style: none;
}

/* layout */
#factory {
  align-items: center;
  justify-content: center;
  align-content: center;
  /* width: 100%; */
  /* display: grid; */
  display: flex;
  flex: auto;
}
#factory .logo img {
  width: 20% !important;
}
@media screen and (max-width: 480px) {
  #factory .logo-place img {
    width: 40% !important;
  }
}

#factory .split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  #factory .split {
    flex-direction: row;
  }
  #factory .split > * {
    flex-basis: 100%;
  }
}

/* button */

#factory button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
}

#factory button:hover {
  border: none;
}

/* background */
@media screen and (min-width: 1281px) {
  .no-webp .factory-wrapper {
    background: url(/src/images/planet-images/1920/tunnel.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .factory-wrapper {
    background: url(/src/images/planet-images/1920/tunnel.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 1280px) {
  .no-webp .factory-wrapper {
    background: url(/src/images/planet-images/1280/tunnel.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .factory-wrapper {
    background: url(/src/images/planet-images/1280/tunnel.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .no-webp .factory-wrapper {
    background: url(/src/images/planet-images/960/tunnel.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .factory-wrapper {
    background: url(/src/images/planet-images/960/tunnel.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}
