/* typography */
#gapTest {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-bottom: 2rem;
}

#gapTest input {
  max-width: 30px !important;
  background-color: transparent;
  color: #ffff;
  border: none;
  border-bottom: 1px solid #ffff;
}
.win {
  color: greenyellow;
}
.lose {
  color: red;
}

.modal-description {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* button */

#gapTest button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
  margin-top: 1rem;
}

#gapTest button:hover {
  border: none;
}

/* background */
@media screen and (min-width: 1281px) {
  .no-webp .gapTest-wrapper {
    background: url(/src/images/planet-images/1920/sky.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .gapTest-wrapper {
    background: url(/src/images/planet-images/1920/sky.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 1280px) {
  .no-webp .gapTest-wrapper {
    background: url(/src/images/planet-images/1280/sky.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .gapTest-wrapper {
    background: url(/src/images/planet-images/1280/sky.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .no-webp .gapTest-wrapper {
    background: url(/src/images/planet-images/960/sky.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .gapTest-wrapper {
    background: url(/src/images/planet-images/960/sky.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}
