/* typography */
#inventory {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 2rem;
}

#inventory ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#inventory ul li {
  border-left: 0;
  margin: 1rem 0 0 0;
  padding-left: 0;
  display: block;
  list-style: none;
}

/* layout */
#inventory {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  display: grid;
  flex: auto;
}

#inventory .split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  #inventory .split {
    flex-direction: row;
  }
  #inventory .split > * {
    flex-basis: 100%;
  }
}

/* button */

#inventory button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
  margin-top: 1rem;
}

#inventory button:hover {
  border: none;
}
/* background */
@media screen and (max-width: 640px) {
  .inventory-wrapper {
    background: url(/src/images/planet-images/960/tunnel.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
}
@media screen and (max-width: 1280px) {
  .inventory-wrapper {
    background: url(/src/images/planet-images/1280/tunnel.jpg) no-repeat center
      center fixed;
    background-size: cover;
  }
}
@media screen and (min-width: 1281px) {
  .inventory-wrapper {
    background: url(/src/images/planet-images/1920/tunnel.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
}
