:root {
  --clr-primary-000: transparent;
  --clr-primary-100: #ffffffc2;
  --clr-primary-200: #0e5b70;
  --clr-primary-500: #8e959c;
  --clr-primary-900: black;

  --clr-neutral-100: white;
  --clr-neutral-200: #d8d3d3;

  --ff-primary: "Futura", sans-serif;
  --ff-secondary: "Source Sans Pro", Arial, sans-serif;
}

/* typography */

#nav > h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

#nav {
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
}

#nav {
  color: var(--clr-neutral-100);
  position: relative;
  cursor: default;
  border-bottom-color: inherit;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
#nav a {
  color: inherit;
}

#nav a:hover {
  text-decoration: none;
  color: var(--clr-neutral-100) !important;
  color: inherit;
}

/* layout */

.split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
}

/* general */

@media screen and (min-width: 420px) {
  #nav > ul {
    padding-block: 1rem;
  }
}

#nav > ul {
  list-style: none;
  margin-right: 1rem;
  margin-left: 0;
  padding-left: 0;
  margin-inline: 1rem;
}

#nav > ul > li {
  float: left;
  margin: 1rem;
}

.container {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-inline: auto;
}

.text-center {
  text-align: center;
}
