/* typography */

#navbar-items ul {
  padding: 1rem;
}

#navbar-items h1 {
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1025px) {
  #navbar-items h1 {
    font-size: 1.2rem;
    align-self: center;
  }
}

#navbar-items {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

#navbar-items a:hover {
  text-decoration: none;
  color: var(--clr-neutral-100) !important;
  color: inherit;
}

.menu-icon,
.rocket-icon {
  font-size: 1rem;
}

@media screen and (min-width: 1025px) {
  .menu-icon,
  .rocket-icon {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1600px) {
  .menu-icon,
  .rocket-icon {
    font-size: 1.5rem;
  }
}

/* layout */
#navbar-wrapper {
  width: 100%;
}

#navbar-items {
  position: relative;
}

#navbar-items li {
  text-align: center;
  padding: 2rem;
  letter-spacing: 0.2rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 40px;
  opacity: 1;
  transition: all 0.5s ease;
}

/* general */

#navbar-items {
  background: rgb(1, 9, 27);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0.5rem;
  cursor: default;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-menu.active {
  background: rgb(1, 9, 27);
  left: 0;
  position: absolute;
  top: 40px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}
.nav-links {
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: table;
  cursor: pointer;
}
.nav-links:hover {
  color: rgb(1, 9, 27);
  background-color: rgb(2, 25, 78);
}

.navbar-navlink {
  text-decoration: none;
  color: yellow;
}

.menu-icon,
.rocket-icon {
  padding: 0.5rem;
  display: block;
  cursor: pointer;
}

h1 {
  display: inline-block;
  margin: 0;
}

.nav-hidden {
  display: none;
}

/* media queries */

#navbar-items ul,
li {
  list-style: none;
}

@media screen and (min-width: 1025px) {
  .menu-icon {
    display: none;
  }

  #navbar-items {
    background: transparent;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #navbar-items ul {
    padding: 0.5rem;
  }

  #navbar-items li {
    padding: 1rem;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: auto;
    display: table;
    cursor: pointer;
  }

  .nav-links:hover {
    background-color: transparent;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    position: initial;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-logo {
    display: flex;
    white-space: nowrap;
  }

  .nav-logo a {
    align-self: center;
  }

  h1 {
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  #navbar-items h1 {
    font-size: 0.6rem;
  }
}
