.not-found-logo {
  width: 80% !important;
}

@media screen and (min-width: 420px) {
  .not-found-logo {
    width: 60% !important;
  }
}

@media screen and (min-width: 960px) {
  .not-found-logo {
    width: 40% !important;
  }
}

.ufo {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.ufo-container:hover .ufo {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s, visibility 2s;
}
