/* typography */

.ufo-container h3 {
  color: var(--clr-primary-100);
}
#ufo {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  letter-spacing: 0.05rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: smaller;
}

#ufo h2 {
  font-size: 3rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.6rem;
}

#ufo h3 {
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.3rem;
}
#ufo h4 {
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.3rem;
}

/* layout */
.ufo-wrapper {
  align-content: center;
  justify-content: center;
  display: grid;
}

#ufo {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.flex-auto {
  flex: auto;
}

#ufo-kidnap {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* image */
.not-found-logo {
  width: 80% !important;
}

@media screen and (min-width: 420px) {
  .not-found-logo {
    width: 60% !important;
  }
}

@media screen and (min-width: 960px) {
  .not-found-logo {
    width: 40% !important;
  }
}

.ufo {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
/* .ufo-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
} */

.ufo-container:hover .ufo {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s, visibility 2s;
}
/* background */
@media screen and (max-width: 640px) {
  .no-webp .notFound-wrapper {
    background: url(/src/images/planet-images/960/ufo.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .notFound-wrapper {
    background: url(/src/images/planet-images/960/ufo.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}
@media screen and (max-width: 1280px) {
  .no-webp .notFound-wrapper {
    background: url(/src/images/planet-images/1280/ufo.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .notFound-wrapper {
    background: url(/src/images/planet-images/1280/ufo.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}
@media screen and (min-width: 1281px) {
  .no-webp .notFound-wrapper {
    background: url(/src/images/planet-images/1920/ufo.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .notFound-wrapper {
    background: url(/src/images/planet-images/1920/ufo.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}
