#main form input {
  margin: 1rem;
}

/* button */
#main button {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: var(--clr-primary-000);
  padding-inline: 0.5rem;
  text-transform: uppercase;
  border: 1px solid var(--clr-primary-100);
  display: block;
  margin: 0.5rem auto;
}
#main button:hover {
  border: none;
}

#main button a {
  text-decoration: none;
  display: block;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
