/* typography */
#quiz-summary {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  letter-spacing: 0.05rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: smaller;
}

#quiz-summary h2 {
  font-size: 3rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.6rem;
}

#quiz-summary h3 {
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.3rem;
}
#quiz-summary h4 {
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.3rem;
}

#quiz-summary ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#quiz-summary ul li {
  border-left: 0;
  margin: 1rem 0 0 0;
  padding-left: 0;
  display: block;
  list-style: none;
}

/* layout */

#quiz-summary .split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  #quiz-summary .split {
    flex-direction: row;
  }
  #quiz-summary .split > * {
    flex-basis: 100%;
  }
}

/* button */

#quiz-summary button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
}

#quiz-summary button:hover {
  border: none;
}
