/* typography  */

.testMenu-container h3 {
  color: var(--clr-primary-100);
}
#testMenu {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  letter-spacing: 0.05rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: smaller;
}

#testMenu input {
  max-width: 80%;
  max-height: 80%;
  background-color: transparent;
  color: #ffff;
  border: none;
  border-bottom: 1px solid #ffff;
}

#testMenu h2 {
  font-size: 3rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.6rem;
}

#testMenu h3 {
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.3rem;
}
#testMenu h4 {
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.3rem;
}

#testMenu ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#testMenu ul li {
  border-left: 0;
  margin: 0.2rem;
  padding-left: 0;
  list-style: none;
  display: inline-block;
}

/* layout */

#testMenu {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  display: flex;
  flex: auto;
}
.testMenu-wrapper {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.testMenu-container {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: min(100%, 70rem);
  padding-bottom: auto;
  text-align: center;
}
.testMenu-container article article {
  text-align: center;
}
.margin-block-testMenu-container {
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .testMenu-activities-container {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 960px) {
  .testMenu-activities-container {
    margin-top: 2rem;
    width: min(90%, 70rem);
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.hidden {
  display: none;
}

/* button */

#testMenu button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
  margin-top: 1rem;
}

#testMenu button:hover {
  border: none;
}

/* background */
@media screen and (min-width: 1281px) {
  .no-webp .testMenu-wrapper {
    background: url(/src/images/planet-images/1920/sky.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .testMenu-wrapper {
    background: url(/src/images/planet-images/1920/sky.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 1280px) {
  .no-webp .testMenu-wrapper {
    background: url(/src/images/planet-images/1280/sky.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .testMenu-wrapper {
    background: url(/src/images/planet-images/1280/sky.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .no-webp .testMenu-wrapper {
    background: url(/src/images/planet-images/960/sky.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .testMenu-wrapper {
    background: url(/src/images/planet-images/960/sky.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}
