#ufo-enemy {
  font-family: var(--ff-primary);
  color: var(--clr-primary-100);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 2rem;
}

#ufo-enemy ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#ufo-enemy ul li {
  border-left: 0;
  margin: 1rem 0 0 0;
  padding-left: 0;
  display: block;
  list-style: none;
}

/* layout */
#ufo-enemy {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  display: grid;
  flex: auto;
}

#ufo .split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  #ufo .split {
    flex-direction: row;
  }
  #ufo .split > * {
    flex-basis: 100%;
  }
}

/* button */

#ufo button {
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
}

#ufo button:hover {
  border: none;
}
/* background */
@media screen and (min-width: 1281px) {
  .no-webp .ufo-wrapper {
    background: url(/src/images/planet-images/1920/ufo.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .ufo-wrapper {
    background: url(/src/images/planet-images/1920/ufo.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 1280px) {
  .no-webp .ufo-wrapper {
    background: url(/src/images/planet-images/1280/ufo.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .ufo-wrapper {
    background: url(/src/images/planet-images/1280/ufo.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .no-webp .ufo-wrapper {
    background: url(/src/images/planet-images/960/ufo.jpg) no-repeat center
      center fixed;

    background-size: cover;
  }
  .webp .ufo-wrapper {
    background: url(/src/images/planet-images/960/ufo.webp) no-repeat center
      center fixed;

    background-size: cover;
  }
}
