/* general */

#welcome > h2 {
  padding-bottom: 2rem;
}

#welcome p {
  margin: 1rem;
}

#welcome > a {
  color: inherit;
}

#welcome > form {
  padding: 1rem;
}

@media screen and (min-width: 420px) {
  #welcome {
    padding: 3rem;
  }
}

#welcome {
  color: var(--clr-neutral-100);
}

#welcome .border {
  border: 1px solid #e1f5fce1 !important;
}

/* buttons */

#welcome button {
  font-family: var(--ff-primary);
  color: var(--clr-primary-300);
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: var(--clr-neutral-100);
  padding-inline: 1rem;
  text-transform: uppercase;
  border-radius: 15px;
  margin: 1rem;
  border: none;
  text-decoration: none;
  display: inline-block;
}
#welcome button:hover {
  border: none;
}

#welcome button a {
  text-decoration: none;
  display: block;
}
