/* general */

#welcome > h2 {
  padding-bottom: 2rem;
}

#welcome p {
  margin: 1rem;
}

#welcome > a {
  color: inherit;
}

#welcome > form {
  padding: 1rem;
}

@media screen and (min-width: 420px) {
  #welcome {
    padding: 3rem;
  }
}

#welcome {
  color: #236f8a;
}

#welcome .border {
  border: 1px solid #e1f5fce1 !important;
}

/* buttons */

#welcome button {
  font-family: var(--ff-primary);
  color: var(--clr-primary-300);
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: var(--clr-primary-000);
  padding-inline: 0.5rem;
  text-transform: uppercase;
  border: 1px solid var(--clr-primary-300);
  display: block;
  margin: 0.5rem auto;
}
#welcome button:hover {
  border: none;
}

#welcome button a {
  text-decoration: none;
  display: block;
}

/* background */

#welcome .main-background {
  background-color: #e1f5fce1;
}

#welcome {
  color: #236f8a;
}

#welcome .border {
  border: 1px solid #e1f5fce1 !important;
}

/* modal */

#modal {
  color: var(--clr-primary-300);
  background-color: #e1f5fce1;
}

#modal button {
  font-family: var(--ff-primary);
  color: var(--clr-primary-300);
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: var(--clr-primary-000);
  padding-inline: 0.5rem;
  text-transform: uppercase;
  border: 1px solid var(--clr-primary-300);
  display: block;
  margin: 0.5rem auto;
}
#modal button:hover {
  border: none;
}

#modal button a {
  text-decoration: none;
  display: block;
}
